<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148759407-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-148759407-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= I18n.t('title') %></title>
    <link rel="stylesheet" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet" />
    <meta name="description" content="Learn how Andrew Yang can help us eliminate poverty, transform our economy to handle the automation of jobs, and end the mindset of scarcity." />
    <meta property="og:site_name" content="An Introduction to Andrew Yang" />
    <meta property="og:image" content="https://andrewyangintro.com/assets/social-thumb-videos-3.png?reindex2" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://andrewyangintro.com" />
    <meta property="og:title" content="An Introduction to Andrew Yang" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="610" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Learn how Andrew Yang can help us eliminate poverty, transform our economy to handle the automation of jobs, and end the mindset of scarcity." />
    <meta name="twitter:title" content="An Introduction to Andrew Yang" />
    <meta name="twitter:image" content="https://andrewyangintro.com/assets/social-thumb-videos-3.png?reindex=1" />
    <meta name="twitter:creator" content="@ericcurtis" />
    <link rel="icon" href="/assets/Y_Favicon-1-300x300.png" sizes="192x192" />
  </head>

  <body>
    <div class="background-image"></div>

    <div class="main-content">
      <div class="intro">
        <section class="text-column">

          <h1><%= I18n.t('intro.header') %> <a href="<%= I18n.t('lang.link') %>"><%= I18n.t('lang.text') %></a></h1>

          <p><%= I18n.t('intro.a') %></p>

          <h2><%= I18n.t('intro.b') %></h2>

          <p><%= I18n.t('intro.c') %></p>

          <img src="/assets/desmoines.png" alt="<%= I18n.t('intro.img.alt') %>" class="esm-graphic">

          <p class="cta-box4"><%= I18n.t('intro.impact') %></p>


          <h2 class="hide-desktop policy-title">
            <%= I18n.t('learn.header') %>
          </h2>
        </section>

        <section class="videos video-column">

          <!-- Iowa Press -->
          <%= youtube_iframe_embed(video_id: "DahyKQccudQ") %>

          <p class="video-title"><%= I18n.t('video.iowa_press') %></p>

          <!-- Iowa Stump Speech -->
          <%= youtube_iframe_embed(video_id: "GkepAtjSJLI", width: 300, height: 200) %>

          <p class="video-title"><%= I18n.t('video.iowa_speech') %></p>

          <!-- Des Moines Reg -->
          <%= youtube_iframe_embed(video_id: "72fXyHzaNZ4", width: 300, height: 200) %>
          <p class="video-title"><%= I18n.t('video.iowa_register') %></p>

          <div class="mobile-video-nav hide-desktop">
            <h2>More videos below:</h2>
            <ul class="video-list">
              <li><a href="#debates" title="<%= I18n.t('debates.teaser') %>"><%= I18n.t('debates.header') %></a></li>

              <li><a href="#longform" title="<%= I18n.t('interviews.teaser') %>"><%= I18n.t('interviews.header') %></a></li>
            </ul>
          </div>

        </section>
      </div>
    </div>

    <div class="color-band">
      <div class="main-content">
        <section class="text-content">
          <h2><%= I18n.t('victory.header') %></h2>
          <p><%= I18n.t('victory.a') %></p>
          <p><%= I18n.t('victory.b') %></p>
          <p><%= I18n.t('victory.c') %></p>
        </section>

        <section class="text-content">
          <h2><%= I18n.t('what.header') %></h2>
          <ul class="video-list ta-left">
            <li><a href="https://www.yang2020.com/" title="<%= I18n.t('what.a.title') %>"><%= I18n.t('what.a.text') %></a></li>
            <li><a href="https://www.yang2020.com/Iowa/" title="<%= I18n.t('what.b.title') %>"><%= I18n.t('what.b.text') %></a></li>
            <li><a href="https://www.yang2020.com/call/" title="<%= I18n.t('what.c.title') %>"><%= I18n.t('what.c.text') %></a></li>
            <li><a href="https://www.yang2020.com/text/" title="<%= I18n.t('what.d.title') %>"><%= I18n.t('what.d.text') %></a></li>
            <li><a href="https://shop.yang2020.com/collections/signs" title="<%= I18n.t('what.e.title') %>"><%= I18n.t('what.e.text') %></a></li>
            <li><a href="https://shop.yang2020.com/collections/bumper-stickers" title="<%= I18n.t('what.f.title') %>"><%= I18n.t('what.f.text') %></a></li>
            <li><a href="https://yanganswers.com/" title="<%= I18n.t('what.g.title') %>"><%= I18n.t('what.g.text') %></a></li>
          </ul>

        </section>
      </div>
    </div>

    <div class="main-content lower-content">
      <section class="long-form-videos">
        <h2 id="debates">Debate Performances:</h2>

        <%= youtube_iframe_embed(video_id: "dNSGMDu58Ok", width: 300, height: 200) %>
        <%= youtube_iframe_embed(video_id: "6crg579lpds", width: 300, height: 200) %>
        <%= youtube_iframe_embed(video_id: "LVkCfCQDXe8", width: 300, height: 200) %>
        <%= youtube_iframe_embed(video_id: "3siHgkArebE", width: 300, height: 200) %>
        <%= youtube_iframe_embed(video_id: "sSbou44OUHg", width: 300, height: 200) %>
        <%= youtube_iframe_embed(video_id: "eA-69bxpWfs", width: 300, height: 200) %>
      </section>
      <section class="long-form-videos">
        <h2 id="longform">
          Long-form interviews:
        </h2>

        <!-- Joe Rogan -->
        <%= youtube_iframe_embed(video_id: "cTsEzmFamZ8", width: 300, height: 200) %>

        <!-- Karen Hunter -->
        <%= youtube_iframe_embed(video_id: "XAehF8ZdwIU", width: 300, height: 200) %>

        <!-- Useful Idiots -->
        <%= youtube_iframe_embed(video_id: "iKuZppYwnq4", width: 300, height: 200) %>

        <!-- Van Jones -->
        <%= youtube_iframe_embed(video_id: "kzvi4QBBnec", width: 300, height: 200) %>

        <!-- Wapo -->
        <%= youtube_iframe_embed(video_id: "2aebkCjUSgk", width: 300, height: 200) %>

        <!-- Shaprio -->
        <%= youtube_iframe_embed(video_id: "-DHuRTvzMFw", width: 300, height: 200) %>

        <!-- Breakfast Club -->
        <%= youtube_iframe_embed(video_id: "87M2HwkZZcw", width: 300, height: 200) %>

        <!-- h3 -->
        <%= youtube_iframe_embed(video_id: "2HXVws8ZQRc", width: 300, height: 200) %>

        <!-- Off the pill -->
        <%= youtube_iframe_embed(video_id: "_P5P4_ISofI", width: 300, height: 200) %>
      </section>
    </div>

    <div class="color-band">
      <div class="main-content">
        <section class="text-content">
          <h2><%= I18n.t('why.header') %></h2>
          <p><%= I18n.t('why.body') %></p>
          <p><%= I18n.t('why.thanks') %></p>
        </section>

        <section class="text-content">
          <h2><%= I18n.t('social.header') %></h2>
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/andrewyang2020/" title="Andrew Yang for President 2020 Home on Facebook">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/andrewyang" title="Andrew Yang (@AndrewYang) | Twitter">Twitter</a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCriIuQZpMi6gEt_2P7xKCww?disable_polymer=true" title="Andrew Yang for President 2020 - YouTube">Youtube</a>
            </li>
            <li>
              <a href="https://www.instagram.com/andrewyang2020/" title="Andrew Yang for President 2020 (@andrewyang2020)">Instagram</a>
            </li>
            <li>
              <a href="https://www.snapchat.com/add/andrewyang2020" title="Latest Story on Snapchat">Snapchat</a>
            </li>
            <li>
              <a href="https://www.reddit.com/r/YangForPresidentHQ/" title="Andrew Yang on Reddit">Reddit</a>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <footer>
      <div class="main-content">
        <%= I18n.t('footer.contributors') %>
        <br /><br />
        <%= I18n.t('footer.feedback') %>
        <br /><br />
        <a href="assets/YouTube-Andrew-Business-card.pdf" title="<%= I18n.t('footer.cards') %>">
          <%= I18n.t('footer.pdf') %>
        </a>
      </div>
    </footer>
    <script type="text/javascript">
      var _userway_config = {
        /* uncomment the following line to override default position*/
        position: '1',
        /* uncomment the following line to override default size (values: small, large)*/
        /* size: 'large', */
        /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
        /* language: 'null', */
        /* uncomment the following line to override color set via widget (e.g., #053f67)*/
        /* color: '#2d68ff', */
        /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
        /* type: '1', */
        /* uncomment the following lines to override the accessibility statement*/
        /* statement_text: "Our Accessibility Statement", */
        /* statement_url: "---/accessiblity", */
        /* uncomment the following line to override support on mobile devices*/
        /* mobile: true, */
        account: 'zhfDh9hq3I'
      };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
  </body>

</html>
